body {
    background-color: lightgray;
}

header{
    width:100vw;
    position:fixed;
    top:0px;
    z-index: 1;
}
/* #LogoContainer{ */
    /* background-color: white; */
/* } */
#ImgLogo{
    height:72px;
    width:77px;
    margin-right:50px;
}
/* .collapse{ */
    /* justify-content:space-between; */
/* } */

/* SSI on parvient à faire du multi-langues */
#DivLang{
    justify-self:end;
    align-items:center;
    padding-right:20px;
}
.DivLang{
    width:80px;
    height:30px;
    margin:0.35em;
    border:1px solid black;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
}
.DivLang:hover{
    cursor:pointer;
}
.DivLang>p{
    font-size: 0.65x;;
    margin-top: 14px;
    color:black;
}
.DivImgFlag{
    height:25px;
    width:25px;
    margin-top: 5px;
    /**/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.DivLangFr{
    box-shadow:inset 2px 2px 6px black;
    font-size:1.1em;
    font-weight:bolder;
}
.DivLangEn{
    box-shadow:2px 2px 6px black;
}
.ImgFlagEn{
    /* FONCTIONNE A PARTIR D'ASSETS SEULEMENT */ 
    background-image: url(/assets/images/flag_en.png);
}
.ImgFlagFr{
    /* FONCTIONNE A PARTIR D'ASSETS SEULEMENT */ 
    background-image: url(/assets/images/flag_fr.png);
}
/* ************************************* */


#BigBody{
    margin-top:150px;
}


.TestImg1{
    width:25%;
    height:100px;
    border:2px solid red;
}
.TestImg2{
    width:25%;
    height:100px;
    border:2px solid yellow;
}
#TestImg1{
    width:25%;
    height:100px;
    border:2px solid green;
    /**/
    background-image: url(/assets/images/bckgrd_portfolio_birolini_herve.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center center ;
}
#TestImg2{
    width:25%;
    height:100px;
    border:2px solid blue;
    /**/
    background-image: url(../../public/build/images/bckgrd_portfolio_birolini_herve.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center center ;
}
