body {
    background-color: lightgray;
}

.TestImg{
    width:25%;
    height:100px;
    border:2px solid red;
}
#TestImg1{
    width:25%;
    height:50px;
    border:2px solid green;
    /**/
    background-image: url(/assets/img/bckgrd_portfolio_birolini_herve.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center ;
}
#TestImg2{
    width:25%;
    height:100px;
    border:2px solid blue;
    /**/
    /* background-image: url(build/images/bckgrd_portfolio_birolini_herve.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center ;
}
